<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Debasish. It used data from mapstack.com and weatherstack.com</p>
        <img src="/img/robot.png" alt="" class="potrait">
        <h3>Created by {{name}}</h3>
    </div>
    {{>footer}}
</body>

</html>